<!DOCTYPE html>
<html>
<head>
  <title>IntroAngularLab</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Coustard'
        rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Lobster'
        rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Nunito'
      rel='stylesheet' type='text/css'>
</head>
<body
   ng-app="introToAngular"
   ng-init="style.color='';style.font='';style.textColor='';"
   ng-style="{backgroundColor: style.color, fontFamily: style.font, color: style.textColor}">

<%= yield %>

</body>
</html>
